@font-face {
    font-family: jetbrains-mono;
    src: url(/assets/jetbrains-mono.ttf);
}

body {
    font-family: jetbrains-mono, monospace;
    background-color: var(--jb-bg);
    color: var(--jb-text);
}
